import(Biobase)
importFrom(genefilter, rowttests)
importFrom(pROC, roc)
importFrom(verification, roc.area)
importFrom(verification, roc.plot)
importFrom(DESeq2, DESeqDataSetFromMatrix, DESeq, results, plotMA, plotCounts)
importFrom(boot, cv.glm)
importFrom(glmnet, cv.glmnet)
importFrom(glmnet, glmnet)
export(resample, result2tests, rowWilcox, cv.f, ncv.lasso)
